#search{
    width : 100%;
    font-size: 24px;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

#search input{
    margin-left:10px;
    margin-right:10px;
}

#movies{
    width:auto;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-right:200px;
    padding-left:200px;
}

#nbmovies{
    width:auto;
    height:auto;
    margin:auto;
    font-weight: 500;
    font-size: 24;
    margin-bottom: 20px;
    text-align: center;
}